:root {
	--ff-primary: sans-serif;
	--clr-neutral-100: #fff;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

img {
	display: inline-block;
	max-width: 100%;
}

/* ? typography */

body {
	font-family: var(--ff-primary);
	font-size: 1.1rem;
}

/* ? helpers */

.row {
	display: flex;
	flex-direction: row;
}

.txt-center {
	text-align: center;
}

.container {
	width: 85%;
	max-width: 1128px;
	margin: 0 auto;
}

/* ? layout */

#root {
	height: 100vh;
	background: #272727;
	display: flex;
	justify-content: center;
	align-items: center;
}

.canvas {
	border: 2px solid white;
}
